@{
    ViewData["Title"] = "Error";
}
@model ErrorViewModel

<div class="text-center">
    <h1 class="display-4">An unexpected error occurred</h1>
    <p>Error occurred. ID: @Model.RequestId</p>
</div>
