@{
    ViewData["Title"] = "Forms";
}

<div>
    <h1 class="display-4">Forms</h1>
    <p>
        <ul>
            <li>
                <a asp-area="" asp-controller="Mvc" asp-action="FileUpload">File Upload</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Mvc" asp-action="SampleForm">Sample Form (MVC)</a>
            </li>
            <li>
                <a href="/Razor/SampleForm">Sample Form (Razor)</a>
            </li>
        </ul>
    </p>
</div>