@{
    ViewData["Title"] = "Minimum Access Level Manager";
}

<div class="text-center">
    <h1 class="display-4">Minimum Access Level Manager</h1>
    <p>This page should only be available to managers and higher.</p>
</div>
