@{
    ViewData["Title"] = "Require Authorship";
}

<div class="text-center">
    <h1 class="display-4">Require Authorship</h1>
    <p>This page is only visible to people who have the "IsAuthor" claim.</p>
</div>
