@{
    ViewData["Title"] = "Sql Queries";
}

<div>
    <h1 class="display-4">Sql Queries</h1>
    <p>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="RawConcat">Raw Concatenation</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="RawInterpolated">Raw Interpolation</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="FullInterpolated">Full Interpolated</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="RawWithParam">Raw With Parameter</a></li>
        </ul>
    </p>
</div>