@{
    ViewData["Title"] = "View Order";
}

<div>
    <h1 class="display-4">View Order</h1>
    <p>
        This is a simple test page to verify that the order filtering works.
        To test, add multiple users to your database with different dates, then check to make sure that user A cannot see user B&apos;s orders and vice versa.
    </p>
    <p>
        Order Info: @ViewBag.OrderInfo
    </p>
    <p>
        If needed, I can provide a more robust example of this for the next edition of the book.
    </p>
</div>
