@{
    ViewData["Title"] = "Home Page";
}
@model Advanced.Security.V3.Models.SampleModel

<h1>Sample Form</h1>

<form method="post">
    <div>@ViewData["Message"]</div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Word"></label>
        <input asp-for="Word" class="form-control" />
        <span asp-validation-for="Word" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PetCount"></label>
        <input asp-for="PetCount" class="form-control" />
        <span asp-validation-for="PetCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Form</button>
    </div>
</form>
