@page
@model Advanced.Security.V3.Razor.SampleFormModel
@{
    ViewData["Title"] = "Sample Form";
}

<h1>Sample Form</h1>

<form method="post">
    <div>@ViewData["Message"]</div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Model.Name"></label>
        <input asp-for="Model.Name" class="form-control" />
        <span asp-validation-for="Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.Email"></label>
        <input asp-for="Model.Email" class="form-control" />
        <span asp-validation-for="Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.Word"></label>
        <input asp-for="Model.Word" class="form-control" />
        <span asp-validation-for="Model.Word" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.Age"></label>
        <input asp-for="Model.Age" class="form-control" />
        <span asp-validation-for="Model.Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.PetCount"></label>
        <input asp-for="Model.PetCount" class="form-control" />
        <span asp-validation-for="Model.PetCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Form</button>
    </div>
</form>